<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="display-5">Mensajes</h1>
  </div>

  <div class="table-responsive">
    <table class="table table-hover align-middle">
      <thead class="table-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Usuario</th>
          <th scope="col">Chat</th>
          <th scope="col">Mensaje</th>
          <th scope="col">Acción</th>
        </tr>
      </thead>
      <tbody>
        <% @messages.each do |message| %>
          <tr>
            <td><%= message.id %></td>
            <td><%= message.user_id %></td>
            <td><%= message.chat_id %></td>
            <td><%= truncate(message.body, length: 60) %></td>
            <td>
              <%= link_to message_path(message), class: 'btn btn-outline-primary btn-sm' do %>
                <i class="fas fa-eye"></i> Ver
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
