<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="display-5">Lista de Chats</h1>
    <%= link_to "Nuevo Chat", new_chat_path, class: "btn btn-primary" %>
  </div>

  <div class="table-responsive">
    <table class="table table-hover align-middle">
      <thead class="table-dark">
        <tr>
          <th scope="col">Chat ID</th>
          <th scope="col">Conversación con</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @chats.each do |chat| %>
          <tr>
            <td><%= chat.id %></td>
            <td>
              <% other = chat.other_user(current_user) %>
              <% if other.present? %>
                <%= other.first_name %> <%= other.last_name %>
              <% else %>
                Participante desconocido
              <% end %>
            </td>
            <td>
            <div class="d-flex flex-row flex-nowrap gap-2">
              <% if can? :read, chat %>
                <%= link_to chat_path(chat), class: 'btn btn-outline-primary btn-sm mt-2' do %>
                  <i class="fas fa-comments"></i> Ver
                <% end %>
              <% end %>

              <% if can? :edit, chat %>
                <%= link_to edit_chat_path(chat), class: 'btn btn-outline-secondary btn-sm mt-2' do %>
                  <i class="fas fa-edit"></i> Editar
                <% end %>
              <% end %>

              <% if can? :destroy, chat %>
                <%= button_to chat_path(chat), method: :delete, data: { confirm: "¿Estás segura de que quieres borrar este chat?" }, class: 'btn btn-outline-danger btn-sm mt-2' do %>
                  <i class="fas fa-trash-alt"></i> Eliminar
                <% end %>
              <% end %>
            </div>
            </td>
          </tr>
        <% end %>
      </tbody>

    </table>
  </div>
</div>
