<%= form_with(model: @chat, local: true, html: { class: "chat-form" }) do |f| %>
  <% if @chat.errors.any? %>
    <section class="form-errors">
      <h3>Se encontraron <%= pluralize(@chat.errors.count, "error") %> al intentar crear el chat:</h3>
      <ul>
        <% @chat.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </section>
  <% end %>

  <fieldset>
    <legend>Crear nuevo chat</legend>

    <div class="form-group">
      <%= f.label :receiver_id, "Destinatario" %>
      <%= f.select :receiver_id, @users.map { |user| ["#{user.first_name} #{user.last_name}", user.id] }, prompt: 'Elige un destinatario', class: "select-input" %>
    </div>
  </fieldset>

  <div class="form-actions">
    <%= f.submit "Iniciar conversación", class: "submit-btn" %>
  </div>
<% end %>
