<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <title><%= content_for(:title) || "Whatsnew" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
      <div class="container-fluid">
        <%= link_to root_path, class: "btn btn-outline-light me-2" do %>
          <i class="fas fa-home"></i> Mi App
        <% end %>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ms-auto">
            <%= link_to 'Usuarios', users_path, class: 'nav-link' %>
            <%= link_to 'Mensajes', messages_path, class: 'nav-link' %>
            <%= link_to 'Chats', chats_path, class: 'nav-link' %>
          </div>
        </div>

        <% if user_signed_in? %>
          <div class="d-flex align-items-center ms-3">
            <%= link_to "#", class: 'btn btn-outline-green' do %>
              <i class="fas fa-user me-1"></i><%=current_user.first_name%>
            <% end %>


            <%= button_to 'Cerrar sesión', destroy_user_session_path, method: :delete, class: 'btn btn-outline-secondary', form: { style: "display: inline;" } %>
        <% else %>
          <div class="d-flex ms-3">
            <%= link_to 'Iniciar sesión', new_user_session_path, class: 'btn btn-outline-primary me-2' %>
            <%= link_to 'Registrarse', new_user_registration_path, class: 'btn btn-outline-success' %>
          </div>
        <% end %>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
